        h2 {
            color: #FFEFD5;
        }  
        p {
                color: #FFEFD5;
        }
        body {
            background-color: #000000;
        }
#nav-table { width: 800px; }
