       body {background-color: #000000;}
h1 {color: #FFEFD5;}  
h2 {color: #FFEFD5;}
        p {color: #FFEFD5;}
h3 {color: #FFEFD5;}  
        
#nav-table {width: 800px;}

#nav-td {width 267 px; text-align:center;img:center; }

